@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.animation_move_in {
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
  transition: all 0.4s; }
  .animation_move_in_top {
    animation-name: moveInTop; }
  .animation_move_in_bottom {
    animation-name: moveInBottom; }
  .animation_move_in_left {
    animation-name: moveInLeft; }
  .animation_move_in_right {
    animation-name: moveInRight; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Noto Kufi Arabic", sans-serif;
  position: relative; }
  html body {
    width: 100vw; }
  @media (min-width: 125em) {
    html {
      font-size: 75%; } }
  @media (max-width: 125em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }

.navigation_text {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.4s; }
  @media (max-width: 1450px) {
    .navigation_text {
      font-size: 1.2rem; } }
  .navigation_text:hover {
    color: #be123c;
    cursor: pointer; }

.heading_primary_hero {
  color: #fff;
  font-size: 9.6rem;
  font-weight: 600; }
  @media (max-width: 131.25em) {
    .heading_primary_hero {
      font-size: 6.4em; } }
  @media (max-width: 90.625em) {
    .heading_primary_hero {
      font-size: 5.6em; } }
  @media (max-width: 68.75em) {
    .heading_primary_hero {
      font-size: 4.4em; } }

.heading_secondary_hero {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 400; }
  @media (max-width: 2100px) {
    .heading_secondary_hero {
      font-size: 2.4em; } }
  @media (max-width: 90.625em) {
    .heading_secondary_hero {
      font-size: 2em; } }
  @media (max-width: 68.75em) {
    .heading_secondary_hero {
      font-size: 1.6em; } }

.sub_heading_primary {
  font-size: 3.2rem;
  font-weight: 600;
  color: #115e59; }
  @media (max-width: 1400px) {
    .sub_heading_primary {
      font-size: 1.8rem; } }

.heading_primary {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 7.2rem; }
  @media (max-width: 1400px) {
    .heading_primary {
      font-size: 2.4rem; } }

.step-number {
  font-family: "Lilita One", sans-serif;
  font-size: 16.4rem;
  font-weight: 400;
  color: rgba(31, 41, 55, 0.6); }
  @media (max-width: 1520px) {
    .step-number {
      font-size: 14.4rem; } }
  @media (max-width: 1400px) {
    .step-number {
      font-size: 12.4rem; } }
  @media (max-width: 1100px) {
    .step-number {
      font-size: 8.6rem;
      width: 25rem; } }

.heading_secondary {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 3.2rem; }
  @media (max-width: 1520px) {
    .heading_secondary {
      font-size: 2.8rem;
      width: 53.5rem; } }
  @media (max-width: 1400px) {
    .heading_secondary {
      font-size: 2.2rem;
      width: 36rem; } }
  @media (max-width: 1100px) {
    .heading_secondary {
      font-size: 2rem;
      width: 25rem; } }

.step-description {
  width: 78.5rem;
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 5rem; }
  @media (max-width: 1520px) {
    .step-description {
      font-size: 2.2rem;
      width: 53.5rem; } }
  @media (max-width: 1400px) {
    .step-description {
      font-size: 1.6rem;
      width: 36rem;
      line-height: 4rem; } }
  @media (max-width: 1100px) {
    .step-description {
      font-size: 1.2rem;
      width: 25rem;
      line-height: 2.4rem; } }

.sides_margin {
  margin: 0 9.2rem; }
  .sides_margin--1 {
    margin-bottom: 7.2rem; }

.colored_word {
  color: #115e59; }

.invisible {
  opacity: 0;
  pointer-events: none;
  visibility: hidden; }

.black {
  color: #042f2e; }

.focus {
  color: #115e59;
  border-bottom: 0.5rem solid #115e59; }

.noMargin_bottom {
  margin-bottom: 0; }

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 9.6rem;
  margin-right: 9.6rem;
  margin-top: 3.2rem;
  margin-bottom: 14.4rem;
  animation-name: moveInTop;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
  transition: all 0.4s; }
  @media (max-width: 2100px) {
    .header {
      margin-bottom: 8.6rem; } }
  @media (max-width: 1450px) {
    .header {
      margin-bottom: 4.4rem; } }
  @media (max-width: 1100px) {
    .header {
      margin-bottom: 4.4rem; } }
  .header_noMargin {
    margin-bottom: 0; }
    @media (max-width: 2100px) {
      .header_noMargin {
        margin-bottom: 0; } }
    @media (max-width: 1450px) {
      .header_noMargin {
        margin-bottom: 0; } }
    @media (max-width: 1100px) {
      .header_noMargin {
        margin-bottom: 0; } }
  .header .logo img {
    height: 6rem;
    width: 6rem; }
    @media (max-width: 1100px) {
      .header .logo img {
        height: 3.6rem;
        width: 3.6rem; } }
  @media (min-width: 125em) {
    .header .navigation {
      font-size: 100%; } }
  .header .navigation_list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3.2rem;
    list-style-type: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 25.6rem; }
    @media (max-width: 1300px) {
      .header .navigation_list {
        margin-left: 14.4rem; } }
    .header .navigation_list--link-nav {
      position: absolute;
      top: 5rem;
      border-radius: 4px;
      background-color: #fff;
      color: #1f2937;
      padding: 1.6rem 2.4rem;
      width: 18rem;
      box-shadow: 0 0.4rem 10px #1f2937;
      transition: all 0.8s; }
    .header .navigation_list--link:last-child {
      margin-left: 22.4rem; }
      @media (max-width: 1100px) {
        .header .navigation_list--link:last-child {
          margin-left: 8.6rem; } }
      @media (max-width: 930px) {
        .header .navigation_list--link:last-child {
          margin-left: 6.4rem; } }
    .header .navigation_list--link:nth-child(4) {
      position: relative; }

.section-hero {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, rgba(17, 94, 89, 0.7), rgba(17, 94, 89, 0.7)), url(../../img/madrassa/section_hero_bg.png);
  background-position: top;
  background-size: cover;
  position: relative; }
  .section-hero_main {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.4rem;
    flex-direction: column;
    margin-bottom: 14.4rem; }
    @media (max-width: 131.25em) {
      .section-hero_main {
        gap: 3.6rem; } }
    @media (max-width: 90.625em) {
      .section-hero_main {
        gap: 2.8rem; } }
    @media (max-width: 68.75em) {
      .section-hero_main {
        gap: 1.6rem; } }
    .section-hero_main--title {
      animation-name: moveInLeft;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
      animation-delay: 0.75s;
      animation-fill-mode: backwards;
      transition: all 0.4s;
      margin-bottom: 0; }
    .section-hero_main--text {
      width: 72rem;
      text-align: center;
      margin-bottom: 8.4rem;
      animation-name: moveInRight;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
      animation-delay: 0.75s;
      animation-fill-mode: backwards;
      transition: all 0.4s;
      margin-bottom: 4.4rem; }
      @media (max-width: 131.25em) {
        .section-hero_main--text {
          width: 64rem; } }
      @media (max-width: 90.625em) {
        .section-hero_main--text {
          width: 56rem; } }
      @media (max-width: 68.75em) {
        .section-hero_main--text {
          width: 44rem; } }

.section-who {
  padding: 9.6rem 0;
  margin: 0 9.2rem; }
  @media (max-width: 1520px) {
    .section-who {
      padding: 8.4rem 0;
      margin: 0 8rem; } }
  @media (max-width: 1520px) {
    .section-who {
      padding: 9.6rem 0;
      margin: 0 19.2rem; } }

.row_container {
  display: flex;
  gap: 4.4rem;
  align-items: flex-start;
  justify-content: space-between; }
  .row_container:not(:last-child) {
    margin-bottom: 12rem; }

.activities {
  padding: 9.6rem 0; }
  .activities_content {
    background-color: #0c4440;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center; }
  .activities_list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3.6rem; }
    .activities_list--item {
      font-size: 2.8rem;
      font-weight: 600;
      color: white;
      transition: all 0.2s; }
      .activities_list--item:hover {
        color: #be123c;
        cursor: default; }
      @media (max-width: 112.5em) {
        .activities_list--item {
          font-size: 2.4rem; } }
      @media (max-width: 100em) {
        .activities_list--item {
          font-size: 1.6rem; } }
      @media (max-width: 68.75em) {
        .activities_list--item {
          font-size: 1.2rem; } }

.section-foundation .foundations {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 32.8rem;
  grid-template-columns: repeat(2, calc((100vw - 2 * (9.2rem)) / 2));
  margin: 12.8rem 9.2rem; }
  @media (max-width: 112.5em) {
    .section-foundation .foundations {
      column-gap: 20rem; } }
  @media (max-width: 100em) {
    .section-foundation .foundations {
      column-gap: 8rem; } }
  @media (max-width: 68.75em) {
    .section-foundation .foundations {
      column-gap: 12rem; } }

.section-registration {
  margin: 0 9.2rem;
  margin-top: 6.4rem;
  padding: 9.4rem 0;
  border-radius: 32px;
  background-image: linear-gradient(to right, rgba(17, 94, 89, 0.7), rgba(17, 94, 89, 0.7)), url(../../img/madrassa/call-to-action-background.png);
  background-size: cover;
  margin-bottom: 24rem; }
  .section-registration .title {
    text-align: center;
    color: #fff;
    font-size: 4rem;
    font-weight: 600; }
    @media (max-width: 1400px) {
      .section-registration .title {
        font-size: 3.6rem; } }
    @media (max-width: 1200px) {
      .section-registration .title {
        font-size: 2.8rem; } }
  .section-registration .sub-title {
    text-align: center;
    margin-bottom: 5rem;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 400; }
    @media (max-width: 1400px) {
      .section-registration .sub-title {
        font-size: 1.8rem; } }
    @media (max-width: 1200px) {
      .section-registration .sub-title {
        font-size: 1.4rem; } }

.section-schedule {
  height: 100vh;
  width: 100vw; }
  .section-schedule .navigationSchedule {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem; }
    .section-schedule .navigationSchedule_items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0;
      flex-direction: row; }
    .section-schedule .navigationSchedule_item {
      padding: 1.8rem 6.4rem;
      width: 23rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem; }
      .section-schedule .navigationSchedule_item--icon {
        height: 2.2rem;
        width: 1.8rem;
        opacity: 50%; }
      .section-schedule .navigationSchedule_item--text {
        font-size: 1.6rem;
        color: rgba(69, 90, 100, 0.5);
        font-weight: 600; }
      .section-schedule .navigationSchedule_item:hover {
        cursor: pointer; }

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 9.7rem 20rem;
  background-color: #0c4440; }
  footer .contacts {
    font-size: 1.8rem;
    color: #fff;
    list-style-type: none; }
    @media (max-width: 1400px) {
      footer .contacts {
        font-size: 1.4rem; } }
    @media (max-width: 900px) {
      footer .contacts {
        font-size: 1rem; } }
    footer .contacts_item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem; }
      footer .contacts_item--icon img {
        height: 1.6rem;
        width: 2rem;
        margin-left: 1.4rem; }
      footer .contacts_item--text:first-child {
        font-weight: 900;
        margin-bottom: 2.8rem; }
      footer .contacts_item--text {
        font-weight: 400;
        margin-bottom: 1rem; }
  footer .accounts {
    font-size: 1.8rem;
    color: #fff; }
    @media (max-width: 1400px) {
      footer .accounts {
        font-size: 1.4rem; } }
    @media (max-width: 900px) {
      footer .accounts {
        font-size: 1rem; } }
    footer .accounts_item {
      margin-bottom: 1rem;
      font-weight: 400;
      list-style-type: none; }
      footer .accounts_item--link {
        color: #fff;
        text-decoration: none; }
      footer .accounts_item:first-child {
        font-weight: 900;
        margin-bottom: 2.8rem; }
      footer .accounts_item:not(:first-child) {
        cursor: pointer; }
  footer .apps {
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    footer .apps .icon img {
      height: 8rem;
      width: 11.5rem; }
      @media (max-width: 1400px) {
        footer .apps .icon img {
          height: 4rem;
          width: 8rem; } }
      @media (max-width: 900px) {
        footer .apps .icon img {
          height: 2rem;
          width: 4rem; } }
    footer .apps .description {
      font-size: 2rem;
      color: #fff;
      font-weight: 400; }
      @media (max-width: 1400px) {
        footer .apps .description {
          font-size: 1.4rem; } }
      @media (max-width: 900px) {
        footer .apps .description {
          font-size: 1rem; } }
    footer .apps_btns {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.6rem;
      flex-direction: row; }
      footer .apps_btns .android {
        cursor: pointer;
        display: block; }
        footer .apps_btns .android img {
          height: 6.4rem;
          width: 21rem; }
          @media (max-width: 1400px) {
            footer .apps_btns .android img {
              height: 4rem;
              width: 12rem; } }
          @media (max-width: 900px) {
            footer .apps_btns .android img {
              height: 2rem;
              width: 6rem; } }
      footer .apps_btns .ios {
        cursor: pointer;
        display: block; }
        footer .apps_btns .ios img {
          height: 6.4rem;
          width: 21rem; }
          @media (max-width: 1400px) {
            footer .apps_btns .ios img {
              height: 4rem;
              width: 12rem; } }
          @media (max-width: 900px) {
            footer .apps_btns .ios img {
              height: 2rem;
              width: 6rem; } }

.section-hero_main--btn {
  font-size: 3.6rem;
  width: 36rem;
  height: 8rem;
  color: #fff;
  background-image: linear-gradient(to right bottom, #9f1239, #be123c);
  border-radius: 5.4rem;
  border: none;
  animation-name: moveInBottom;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.75s;
  animation-fill-mode: backwards; }
  @media (max-width: 131.25em) {
    .section-hero_main--btn {
      width: 14em;
      height: 3em;
      font-size: 2.8em; } }
  @media (max-width: 90.625em) {
    .section-hero_main--btn {
      width: 14em;
      height: 3em;
      font-size: 2.4em; } }
  @media (max-width: 68.75em) {
    .section-hero_main--btn {
      width: 12em;
      height: 3em;
      font-size: 1.6em; } }
  .section-hero_main--btn:hover {
    cursor: pointer;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(31, 41, 55, 0.2); }
    .section-hero_main--btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      color: #fff;
      background-image: linear-gradient(to right bottom, #9f1239, #be123c); }
  .section-hero_main--btn:active, .section-hero_main--btn:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(31, 41, 55, 0.2); }
  .section-hero_main--btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }

.btn_link--testimonials {
  color: #115e59;
  font-size: 2rem;
  text-decoration: underline;
  margin-top: 4.4rem;
  text-align: center;
  transition: all 0.2s;
  animation-name: moveInTop;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
  transition: all 0.4s; }
  @media (max-width: 112.5em) {
    .btn_link--testimonials {
      font-size: 2rem; } }
  @media (max-width: 100em) {
    .btn_link--testimonials {
      font-size: 1.6rem; } }
  @media (max-width: 68.75em) {
    .btn_link--testimonials {
      font-size: 1.2rem; } }
  .btn_link--testimonials:hover {
    color: #9f1239;
    transform: translateY(-0.3rem);
    cursor: pointer; }

.registration-btn {
  margin: 0 auto;
  display: block;
  background-color: #fff;
  color: #115e59;
  font-size: 2.4rem;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  width: 31.4rem;
  height: 7.7rem; }
  @media (max-width: 1400px) {
    .registration-btn {
      width: 28rem;
      height: 6rem;
      font-size: 1.8rem; } }
  @media (max-width: 900px) {
    .registration-btn {
      width: 26rem;
      height: 5.6rem;
      font-size: 1.6rem; } }
  .registration-btn:hover, .registration-btn:active {
    cursor: pointer;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(31, 41, 55, 0.2); }
    .registration-btn:hover::after, .registration-btn:active::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      color: #115e59;
      background-color: #fff; }
  .registration-btn:active, .registration-btn:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(31, 41, 55, 0.2); }
  .registration-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }

.registration-btn--green {
  display: block;
  background-color: #115e59;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 2rem 3.2rem;
  margin-top: 4.4rem;
  width: 100%; }
  .registration-btn--green:hover, .registration-btn--green:active {
    cursor: pointer;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(31, 41, 55, 0.2); }
    .registration-btn--green:hover::after, .registration-btn--green:active::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      color: #fff;
      background-color: #115e59; }
  .registration-btn--green:active, .registration-btn--green:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(31, 41, 55, 0.2); }
  .registration-btn--green::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }

.contact-us_btn {
  position: absolute;
  top: 6.4rem;
  right: 4.4rem;
  background-color: #9f1239;
  color: #fff;
  padding: 1.6rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.2rem #fff; }
  .contact-us_btn:hover, .contact-us_btn:active {
    cursor: pointer;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2); }
    .contact-us_btn:hover::after, .contact-us_btn:active::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      color: #fff;
      background-color: #be123c; }
  .contact-us_btn:active, .contact-us_btn:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2); }
  .contact-us_btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }

.btn_send {
  background-image: linear-gradient(to right, #be123c, #9f1239);
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;
  border: none;
  border-radius: 0 12px 12px 0;
  width: 24rem;
  height: 5.6rem;
  position: absolute;
  left: 0; }
  .btn_send:hover, .btn_send:active {
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(31, 41, 55, 0.2); }
    .btn_send:hover::after, .btn_send:active::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      color: #fff;
      background-color: #be123c; }
  .btn_send:active, .btn_send:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(31, 41, 55, 0.2); }
  .btn_send::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0 12px 12px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }

.btn_back {
  font-size: 1.8rem;
  font-weight: 400;
  color: #1f2937;
  transition: all 0.2s;
  text-decoration: none;
  animation-name: moveInTop;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
  transition: all 0.4s; }
  .btn_back:hover {
    color: #115e59;
    transform: translateY(-0.3rem);
    cursor: pointer; }

.robot {
  width: 9.2rem;
  height: 13.5rem;
  position: fixed;
  left: 4rem;
  bottom: 4rem;
  z-index: 100;
  animation-name: moveInLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
  transition: all 0.4s; }
  @media (max-width: 131.25em) {
    .robot {
      width: 9.2rem;
      height: 13.5rem; } }
  @media (max-width: 90.625em) {
    .robot {
      width: 8.6rem;
      height: 12.4rem; } }
  @media (max-width: 68.75em) {
    .robot {
      width: 6.4rem;
      height: 8.6rem; } }
  .robot:hover {
    cursor: pointer;
    transform: translateY(-0.3rem); }

.step-img-box {
  height: 50rem;
  width: 50rem; }
  @media (max-width: 1520px) {
    .step-img-box {
      height: 40rem;
      width: 40rem; } }
  @media (max-width: 1100px) {
    .step-img-box {
      height: 30rem;
      width: 30rem; } }

.gallery {
  padding: 1rem;
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-columns: repeat(3, calc(100vw / 6));
  grid-template-rows: repeat(3, calc(100vw / 6));
  overflow: hidden; }
  @media (max-width: 131.25em) {
    .gallery {
      row-gap: 1rem;
      column-gap: 1rem; } }
  @media (max-width: 90.625em) {
    .gallery {
      row-gap: 0.8rem;
      column-gap: 0.8rem; } }
  @media (max-width: 68.75em) {
    .gallery {
      row-gap: 0.6rem;
      column-gap: 0.6rem; } }
  .gallery .gallery_item {
    height: calc(100vw / 6);
    width: calc(100vw / 6);
    overflow: hidden; }
  .gallery img {
    height: 100%;
    width: 100%;
    filter: blur(3px);
    display: block;
    transition: all 0.4s;
    background-size: cover; }
    @media (max-width: 131.25em) {
      .gallery img {
        filter: blur(3px); } }
    @media (max-width: 90.625em) {
      .gallery img {
        filter: blur(2px); } }
    @media (max-width: 68.75em) {
      .gallery img {
        filter: blur(1px); } }
    .gallery img:hover {
      transform: scale(1.1); }

.foundations_item--icon {
  height: 9.2rem;
  width: 9.2rem;
  background-color: rgba(17, 94, 89, 0.3);
  border-radius: 100%;
  position: relative; }
  @media (max-width: 1400px) {
    .foundations_item--icon {
      height: 5.6rem;
      width: 5.6rem; } }

.foundations_item img {
  height: 3.6rem;
  width: 3.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 1400px) {
    .foundations_item img {
      height: 2.4rem;
      width: 2.4rem; } }

.foundations_item--title {
  margin-top: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  color: #1f2937; }
  @media (max-width: 1400px) {
    .foundations_item--title {
      font-size: 1.8rem; } }
  @media (max-width: 900px) {
    .foundations_item--title {
      font-size: 1rem; } }

.foundations_item--description {
  width: 47.5rem;
  margin-top: 1.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  color: #1f2937; }
  @media (max-width: 1400px) {
    .foundations_item--description {
      width: 34.5rem;
      font-size: 1.4rem; } }
  @media (max-width: 900px) {
    .foundations_item--description {
      font-size: 0.8rem; } }

.navigation_list--link-nav .sub_nav {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }
  .navigation_list--link-nav .sub_nav--item {
    font-weight: 400;
    margin: 1rem;
    transition: all 0.4s;
    color: #1f2937; }
    .navigation_list--link-nav .sub_nav--item:hover, .navigation_list--link-nav .sub_nav--item:active {
      color: #be123c;
      font-weight: 600; }

.dialog {
  background-color: rgba(31, 41, 55, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center; }
  .dialog_chatbox {
    display: block;
    background-color: #fff;
    box-shadow: 0 0 24px rgba(255, 255, 255, 0.7);
    height: 70vh;
    width: 70vw;
    border-radius: 12px;
    z-index: 99;
    transition: all 0.8s; }
    .dialog_chatbox--exit {
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0; }

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  align-self: center; }

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333; }

.icon-mobile-nav[name="close-outline"] {
  display: none; }

.registration_page {
  background-color: rgba(31, 41, 55, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center; }
  .registration_page--exit {
    height: 100vh;
    width: 100vw;
    z-index: 98;
    position: absolute;
    top: 0;
    left: 0; }

.registration_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 0 0 24px rgba(255, 255, 255, 0.7);
  height: 90vh;
  width: 70vw;
  border-radius: 12px;
  z-index: 99;
  transition: all 0.8s;
  padding-top: 3.2rem;
  padding-bottom: 8.6rem;
  overflow: scroll; }
  .registration_form--title {
    font-size: 4rem;
    color: #115e59; }
  .registration_form--items {
    padding-top: 9.6rem;
    display: grid;
    row-gap: 2rem;
    column-gap: 21rem;
    grid-template-columns: repeat(2, 1fr); }

.input_label {
  font-size: 1.8rem;
  color: #1f2937; }

.input_content {
  margin-top: 0.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  justify-content: flex-end; }
  .input_content--item {
    border-radius: 4px;
    background-color: #f3f4f6;
    border: none;
    padding: 2.4rem 3.2rem;
    padding-right: 7rem; }
    .input_content--item::placeholder {
      color: rgba(31, 41, 55, 0.5);
      font-size: 1.4rem; }
    .input_content--item:focus, .input_content--item:active {
      outline: 2px solid #115e59;
      box-shadow: 0 0 8px #115e59; }
  .input_content--icon {
    position: absolute;
    top: 2.4rem;
    right: 3.2rem;
    height: 2.2rem;
    width: 2.2rem;
    transform: translateY(-25%); }

table {
  margin: 0 auto;
  margin-top: 8.4rem;
  border: 0;
  border-style: none;
  border-collapse: collapse; }
  table thead th {
    width: 15rem;
    height: 5.6rem;
    background-color: #fecdd3;
    color: #1f2937;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600; }
    table thead th:first-child, table thead th:nth-child(3), table thead th:nth-child(5), table thead th:nth-child(7), table thead th:nth-child(9) {
      background-color: #fff; }
    table thead th:first-child {
      width: 23rem; }
  table tbody tr th {
    background-color: #f3f4f6;
    width: 23rem;
    height: 5.6rem;
    color: #455a64;
    text-align: center;
    font-size: 2rem;
    font-weight: 600; }
  table tbody tr td {
    width: 15rem;
    height: 5.6rem;
    background-color: #fecdd3;
    color: #1f2937;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400; }
    table tbody tr td:nth-child(3), table tbody tr td:nth-child(5), table tbody tr td:nth-child(7), table tbody tr td:nth-child(9) {
      background-color: #fff; }

.contact-us_form {
  position: fixed;
  top: 0;
  left: 10%;
  background-color: #fff;
  z-index: 12;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
  padding: 0 8rem;
  overflow: hidden; }
  .contact-us_form--title {
    margin-top: 8rem;
    font-size: 2.4rem;
    font-weight: 400; }
  .contact-us_form--content {
    margin-top: 8rem;
    margin-bottom: 14.4rem;
    display: flex;
    flex-direction: column;
    gap: 5.2rem; }
    .contact-us_form--content-item .item_input {
      padding: 1.6rem 0;
      width: 25vw;
      border: none;
      border-bottom: 2px solid #1f2937;
      font-size: 1.6rem; }
      .contact-us_form--content-item .item_input::placeholder {
        color: #1f2937;
        opacity: 1;
        font-size: 1.6rem; }
      .contact-us_form--content-item .item_input:focus, .contact-us_form--content-item .item_input:active {
        outline: none; }
  .contact-us_form--buttons {
    margin-bottom: 10.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.waiting {
  margin: auto 0;
  font-size: 10rem;
  color: #1f2937;
  text-align: center;
  font-weight: 400; }

.contact-us {
  height: 100vh;
  width: 100vw;
  background-image: url(../../img/madrassa/map.png);
  background-size: cover;
  position: relative; }
  .contact-us_btn--content {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center; }
    .contact-us_btn--content img {
      height: 1.6rem;
      width: 1.4rem; }
