*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // This defines what 1rem is 10px
  font-size: 62.5%;
  font-family: "Noto Kufi Arabic", sans-serif;
  position: relative;

  body {
    width: 100vw;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
  @include respond(desktop) {
    font-size: 62.5%;
  }
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(phone) {
    font-size: 30%;
  }
}
